@charset "utf-8";
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,input,em{margin:0; padding:0;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:none;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal;}
ol,ul,li {list-style-type:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
body{background:#222222;}
q:before,q:after{content:""}
abbr,acronym{border:none;}
input,textarea{outline:none; resize:none; font-family:"微软雅黑"; font-size:14px; border:none;}
input::-ms-clear{display:none;}
a{cursor:pointer;}
a:link,a:visited,a:hover,a:active{text-decoration:none;cursor:pointer}
img{width:100%; height:auto;}
.fll{float:left;}
.flr{float:right;}
.clear{clear:both; width:0; height:0; margin:0; padding:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.hide{display:none;}
.center{position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;}
.ellipsis{white-space:nowrap !important; white-space:normal; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
::-webkit-scrollbar{display:none;}
.fully{width:100%; height:100%;}
.yscroll{overflow-x:hidden; overflow-y:scroll; -webkit-overflow-scrolling:touch;}
.trans02{
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}
.trans05{
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.trans1{
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
