.container{font-family:"微软雅黑"; font-size:14px; color:black; background:#333; position:relative; overflow:hidden;}
.swiper-box{position:relative; overflow:hidden;}
.swiper-slide{position:absolute; width:100%; height:100%; left:0; top:0; overflow:hidden;}
.bg{position:absolute; width:100%; height:100%; left:0; top:0; overflow:hidden;}

.arrow-box{position:absolute; width:100%; height:27px; left:0;}
.arrow{position:relative; width:38px; height:27px; margin:0 auto; background:url(../img/arrow.png); background-size:100%; opacity:0;}
.arrow{
	-webkit-animation: arrow linear 1.5s infinite;
	-moz-animation: arrow linear 1.5s infinite;
	-o-animation: arrow linear 1.5s infinite;
	-ms-animation: arrow linear 1.5s infinite;
	animation: arrow linear 1.5s infinite;
}
@-webkit-keyframes arrow{
	from{top:0; opacity:1;}
	to 	{top:-100%; opacity:0.5;}
}
@-moz-keyframes arrow{
	from{top:0; opacity:1;}
	to 	{top:-100%; opacity:0.5;}
}
@-o-keyframes arrow{
	from{top:0; opacity:1;}
	to 	{top:-100%; opacity:0.5;}
}
@-ms-keyframes arrow{
	from{top:0; opacity:1;}
	to 	{top:-100%; opacity:0.5;}
}
@keyframes arrow{
	from{top:0; opacity:1;}
	to 	{top:-100%; opacity:0.5;}
}

.btn-box{position:absolute; width:100%; height:59px; left:0; bottom:20px;}
.turn-btn{position:relative; width:167px; height:59px; margin:0 auto; background-size:100%;}
.turn-btn.continue{background-image:url(../img/continue.png);}
.turn-btn.continue.checked{background-image:url(../img/continue-checked.png);}
.turn-btn.accept{background-image:url(../img/accept.png);}
.turn-btn.accept.checked{background-image:url(../img/accept-checked.png);}

.finger-mask{position:absolute; width:100%; height:100%; top:0; left:0; z-index:1000;}
.finger-print{width:269px; height:431px; background:url(../img/finger-print.png); background-size:100%;}
.finger-click{position:absolute; left:5px; top:5px; width:259px; height:320px;}
.finger-click{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.finger-scan{position:absolute; left:0; top:0; width:100%; height:2px; background:lime;}
.finger-scan{
	-webkit-animation: scan linear 2s infinite;
	-moz-animation: scan linear 2s infinite;
	-ms-animation: scan linear 2s infinite;
	-o-animation: scan linear 2s infinite;
	animation: scan linear 2s infinite;
}
@-webkit-keyframes scan{
	from{top:0;}
	to 	{top:100%;}
}
@-moz-keyframes scan{
	from{top:0;}
	to 	{top:100%;}
}
@-ms-keyframes scan{
	from{top:0;}
	to 	{top:100%;}
}
@-o-keyframes scan{
	from{top:0;}
	to 	{top:100%;}
}
@keyframes scan{
	from{top:0;}
	to 	{top:100%;}
}

.contact{position:absolute; width:100%; height:89px; left:0; bottom:20px; overflow:hidden;}
.contact-bg{position:relative; width:249px; height:89px; margin:0 auto; background:url(../img/contact.png); background-size:100%;}
.contact-call,
.contact-wx{position:absolute; top:0; width:89px; height:89px;}
.contact-call{display:block; left:0;}
.contact-wx{right:0;}

.qrcode-box{position:absolute; width:100%; height:185px; top:105px; left:0;}
.qrcode-inner{position:relative; width:185px; height:185px; margin:0 auto; overflow:hidden;}