<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/recruit.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="swipter-box fully">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/1.jpg">
				</div>
				<div class="arrow-box" style="bottom:50px;">
					<div class="arrow"></div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/2.jpg">
				</div>
				<div class="btn-box">
					<div class="turn-btn continue"></div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/3.jpg">
				</div>
				<div class="btn-box">
					<div class="turn-btn accept"></div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/4.jpg">
				</div>
				<div class="btn-box">
					<div class="turn-btn accept"></div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/5.jpg">
				</div>
				<div class="btn-box">
					<div class="turn-btn accept"></div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/6.jpg">
				</div>
				<div class="btn-box">
					<div class="turn-btn accept"></div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/7.jpg">
				</div>
				<div class="btn-box">
					<div class="turn-btn accept"></div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/8.jpg">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/9.jpg">
				</div>
				<div class="contact">
					<div class="contact-bg">
						<a class="contact-call" href="tel:10086"></a>
						<div class="contact-wx"></div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/10.jpg">
				</div>
				<div class="qrcode-box">
					<div class="qrcode-inner">
						<img data-src="../img/qrcode.jpg">
					</div>					
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg">
					<img data-src="../img/11.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="preload-hide">
		<img data-src="../img/finger-print.png">
		<img data-src="../img/contact.png">
	</div>
</div>
</body>


<link rel="stylesheet" type="text/css" href="../css/preload.css">
<script src="../js/preload.js"></script>
<script>new Preload( "img" );</script>

<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
<script src="../js/swiper.min.js"></script>
<script src="../js/finger.js"></script>
<script>
var swiper = new Swiper('.swipter-box', {
    direction: 'vertical',
    onSlideChangeEnd : callback
});
// swiper.slidePrev();
// swiper.slideNext();
// swiper.slideTo();
// swiper.activeIndex;
function callback(){
	if(swiper.activeIndex == 7) 
		new Finger(function(){ swiper.slideNext(); });
}
</script>
<script>
;(function(){

$(".turn-btn").on("click", function(e){
	var btn = $(e.currentTarget);

	btn.addClass("checked");

	if(btn.hasClass("continue")){
		setTimeout(function(){
			swiper.slideNext();
		}, 400);
	}
	if(btn.hasClass("accept")){
		setTimeout(function(){
			swiper.slideTo(7);
		}, 400);
	}

	setTimeout(function(){
		btn.removeClass("checked");
	}, 500);
});

$(".contact-wx").on("click", function(){
	swiper.slideNext();
});


})();
</script>
</html>
