<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body class="fully">
<div class="container fully" id="container">
	<div class="swiper-box fully">
		<div class="swiper-wrapper">
			<div class="swiper-slide" style="background:black;"></div>
			<div class="swiper-slide" style="background:#808080;"></div>
			<div class="swiper-slide" style="background:#c7c7c7;"></div>
			<div class="swiper-slide" style="background:white;"></div>
		</div>
	</div>
</div>
</body>


<!-- 
<link rel="stylesheet" type="text/css" href="../css/turn.css">
<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
<script src="../js/swiper.min.js"></script>
<script>var swiper = new Swiper('.swiper-box', {direction: "vertical"});</script>
 -->

<!-- 
<script src="../js/zepto.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/turn.css">
<script src="../js/turn.js"></script>
<script>var main = new Turn();</script>
 -->

<script src="http://tmisc.home.news.cn/cloudnews/res/build/seed-min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/turn.css">
<script src="../js/kslide.js"></script>
<script>var main = new Turn();</script>




</html>
